<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="jpaDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">

        <property name="initialPoolSize" value="${dataSource.initialPoolSize}"/>
        <property name="minPoolSize" value="${dataSource.minPoolSize}"/>
        <property name="maxPoolSize" value="${dataSource.maxPoolSize}"/>
        <property name="acquireIncrement" value="${dataSource.acquireIncrement}"/>

        <!-- slow jdbc operations are passed to helpers, defaults to 3,
        setting 20 to improve performance as we have enough RAM :) -->
        <property name="numHelperThreads" value="${dataSource.numHelperThreads}"/>

        <!-- clear out connections not used for 5 minutes -->
        <property name="maxIdleTime" value="${dataSource.maxIdleTime}"/>

        <!-- milliseconds to wait for a new connection if all connections are full -->
        <!-- 0 sets the wait time to infinity that is till a connection is released for use. -->
        <property name="checkoutTimeout" value="${dataSource.checkoutTimeout}"/>
        <!-- 60 seconds -->
        <!-- maximum connections across all pools.
        ( maxPoolSize * preparedStatements per pool, assuming 20 statements per pool as max) -->
        <property name="maxStatements" value="${dataSource.maxStatements}"/>

        <!-- release any connections not returned for 30 minutes -->
        <!-- usually for webapps its 90 seconds -->
        <property name="unreturnedConnectionTimeout" value="90"/>

        <property name="debugUnreturnedConnectionStackTraces" value="true"/>

        <!-- runs an idle test ever 5 minutes with the preferred query to test if connections are active and cleanup -->
        <property name="idleConnectionTestPeriod" value="${dataSource.idleConnectionTestPeriod}"/>

        <!-- seconds -->
        <property name="preferredTestQuery" value="${dataSource.preferredTestQuery}"/>

        <!-- expensive, and disabled, only enable on testing transactions -->
        <property name="testConnectionOnCheckout" value="${dataSource.testConnectionOnCheckout}"/>

        <property name="driverClass" value="${dataSource.driverClass}"/>
        <property name="jdbcUrl" value="${dataSource.url}${dataSource.hostname}${dataSource.portNumber}${dataSource.database}${dataSource.extraParam}"/>
        <property name="user" value="${dataSource.username}"/>
        <property name="password" value="${dataSource.password}"/>

    </bean>

</beans>