<?xml version="1.0" encoding="UTF-8"?>
<!--
        @author Adarsh
        @author $LastChangedBy: adarsh $
        @version $Revision: 1595 $, $Date:: 5/4/12 6:12 PM#$
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="com.adarsh.spring"/>

    <context:property-placeholder
            location="classpath:properties/databaseProperties.properties
            ,classpath:properties/hibernateProperties.properties"/>

    <import resource="applicationContext-dataSource.xml"/>
    <import resource="applicationContext-persistence.xml"/>

    <bean id="applicationMain" class="com.adarsh.spring.main.ApplicationMain"/>


</beans>
